/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ==================================================================*/
/*                            Sign Up & In                           */
/* ==================================================================*/
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container.auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  background-color: white;
}

.auth-form .title {
  text-align: center;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

/* ==================================================================*/
/*                          End Sign Up & In                         */
/* ==================================================================*/

form#profile {
  max-width: 600px;
}


.pin {
  height: 1.5rem;
}

.map-container {
  height: 500px;
  width: 800px;
}

.btn.cancel-appointment, .btn.submit-results {
  display: none;
}

.appointment:hover .btn.cancel-appointment,.appointment:hover .btn.submit-results {
  display: block;
}

.notification-container {
  /* font-size: 14px; */
  box-sizing: border-box;
  position: fixed;
  bottom: 12px;
  right: 12px;
  transition: transform .6s ease-in-out;
  animation: toast-in-right .7s;
}